.upload-header {
  text-align: center;
  margin-bottom: 10px;
}
.upload-header h2 {
  font-size: 16px;
  color: #333;
}
.upload-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}
.upload-box {
  border: 2px solid #d6e2f0;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(135deg, #ffffff, #fffaf5);
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 60, 255, 0.15);
  height: 100%;
}
.upload-box:hover {
  border-color: #c2d6ec;
  box-shadow: 0 8px 20px rgba(0, 60, 255, 0.15);
  transform: translateY(-3px);
  background: #f3f7fc;
}
.upload-box.uploaded {
  border-color: #c2d6ec;
  background: #eff3f8;
  box-shadow: 0 8px 20px rgba(0, 60, 255, 0.15)
}
.upload-status {
  margin-top: 10px;
  font-size: 12px;
  color: #28a745;
  font-weight: 500;
}
.upload-box h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}
.upload-btn,
.upload-file-btn,
.add-bank-btn,
.add-loan-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.upload-btn:hover,
.upload-file-btn:hover,
.add-bank-btn:hover,
.add-loan-btn:hover {
  background-color: #1976d2;
}


.verify-btn {
    padding: 9px 20px;
    font-size: 15px;
    /* min-height: 50px; */
    background-color: #0d4689;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Upload box styling */
.upload-icon {
  font-size: 40px;
}

.upload-title {
  margin: 8px 0; /* my: 1 */
      font-size: 16px;
}

.year-select-box,
.month-select-box {
  margin-bottom: 8px; /* mb: 1 */
}

.year-label,
.month-label {
  margin-bottom: 4px; /* mb: 0.5 */
  font-size: 14px;
}

.year-select,
.month-select {
  font-size: 14px;
  min-height: 30px;
}

.year-select .MuiSelect-select,
.month-select .MuiSelect-select {
  padding: 4px 8px;
}

/* Notes under docs */
.doc-note {
  margin-bottom: 8px; /* mb: 1 */
  font-size: 12px;
  color: #666;
}

/* File input */
.hidden-file-input {
  display: none;
}

/* Header titles */
.upload-main-title {
  color: #333;
}

/* Upload status text */
/* .upload-status {
  margin-top: 4px;
  font-size: 12px;
  color: #444;
} */

.doc-btn{
      padding: 4px 7px!important;
    font-size: 14px!important;;
}

.close-icon-button {
  margin-left: 10px;
  color: red;
  border: 1px solid #ff000029;
  border-radius: 50%;
  padding: 4px;
}
.upload-status-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


.docu-itr-box {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  justify-content: center;
  font-weight: 600;
}

